
AzureDevOps/obj/Debug/netcoreapp3.1/AzureDevOps.Views.pdb

AzureDevOps/obj/Debug/netcoreapp3.1/AzureDevOps.Views.dll

*.pdb

*.exe

AzureDevOps/obj/Debug/netcoreapp3.1/

.vs/AzureDevOps/config/

.vs/AzureDevOps/DesignTimeBuild/

.vs/AzureDevOps/v16/

AzureDevOps/bin/Debug/netcoreapp3.1/

AzureDevOps/obj/Container/
